/credentials
/.idea/*
/.vscode/*
/research_data/*
!/research_data/p4_fake_data_*.bin
/venv/*
**/*/__pycache__/*
/__pycache__/
/db/
/credentials_clickhouse.py
**/*credentials*
/.shyam_project
/flasksite_data/
/.env
!/flasksite_data/p4_mock.csv
a.out
